html {
    background-color: #FFCFD2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
}

h1 {
    margin: 0px;
}

#top_of_page {
    padding: 20px;
    display:block;
    background-color: #6E474A;
    color: white;
}

#submit_button {
    padding: 10px;
}

form {
    padding: 20px;
}

.error {
    color: darkred;
    font-style: italic;
}

input[type=text] {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #AAF0BB;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=text]:focus {
    border: 3px solid #53A367;
  }

  input[type=submit] {
    width: 100%;
    background-color: #AAF0BB;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #53A367;
    color: white;
  }