#container {
    border: 2px;
    border-color: aqua;
    border-style: dashed;
    border-radius: 20px; 
    flex:
}
.box {
    border: 2px;
    border-color: aqua;
    border-style: dashed;
    border-radius: 20px; 
}
body {
    background-color: antiquewhite;
}